<!DOCTYPE html>
<html lang="ko">
<head>
    <title>ID Card</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<!-- Cache reset -->
<meta http-equiv="Expires" content="Mon, 06 Jan 2016 00:00:01 GMT">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="resources/images/ico_favicon_60x60.png">
    <link rel="stylesheet" type="text/css" href="../static/css/vuecss.css">
</head>
<body style="background-color: #f3f4f8; text-align: center;">
    <ul id="onscreen">
        <div style="width: 90%; min-width:1000px; _width:1000px; background-color: #ffffff; border-radius: 5px; box-shadow: 0 0 5px rgba(61,70,92,0.1); text-align: center; padding-top: 40px; display: inline-block">
            <span class=span_title>신분증 위변조 탐지</span><br>
            <span class=span_title_comment>신분증 원본이 아닌 사본을 사용한 인증 시도를 탐지합니다.</span>
            <div class="title_line"></div>

            <div class="overall_div" v-if="nowUploadStatus<2">
               <table style="display: inline-block">
                   <tbody>
                        <tr>
                            <td>
                                <div class="table_top_title">
                                    <div style="vertical-align: center">
                                        <img src="../static/images/ico_image.png">
                                        <strong class="table_title">샘플 파일</strong>
                                        <span class="table_title2">로 테스트 하기</span>
                                    </div>
                                    <div style="background-color: #f3f5fb; border: solid 1px #cfd5eb; margin-top: 10px">
                                        <img style="width: 340px; padding: 30px" src="../static/images/sample_img_monitor.jpg">
                                        <img v-if="nowSample==1" src="../static/images/capture.png">
                                        <img v-else src="../static/images/uncapture.png" style="cursor:pointer;" onclick="vm.nowSample=1">
                                        <div style="width: 1px; height: 20px;"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                 <span style="font-size: 14px; margin-left: 20px"> 또는 </span>
                            </td>
                            <td>
                                  <div class="table_top_title">
                                        <div style="vertical-align: center">
                                            <img src="../static/images/ico_image.png">
                                            <strong class="table_title">내 파일</strong>
                                            <span class="table_title2">로 해보기</span>
                                        </div>
                                        <div style="background-color: #f3f5fb; border: solid 1px #cfd5eb; margin-top: 10px; height: 340px; vertical-align: center">
                                           <div style="margin-top: 0px; margin-bottom: 0px; vertical-align: center">
                                               <div v-if="nowUploadStatus==0" style="width: 20px; position:relative; height: 95px;"></div>
                                                <img v-if="nowUploadStatus==1" :src="forurl + '/img/' + nowImgName" style="height: 180px; max-width: 350px; padding-top: 20px">
                                                <label v-if="nowUploadStatus==0" onclick="uploadBtnClick()" style="cursor:pointer; padding: 10px 20px; border-radius: 5px; box-shadow: 1px 1px 2px 0 rgba(110, 110, 110, 0.5); background-color: #ffffff; font-weight: 500; bolder: solid 1px #f7778a; color: #f7778A;">
                                                    업로드
                                                </label>
                                               <div v-if="nowUploadStatus!=1" style="width: 20px; position:relative; height: 75px;"></div>
                                                <input type="file" id="ex_file" accept=".jpg, .png, .jfif" class="input-file" style="display: none" oninput="uploadFile(this.value)">

                                           </div>
                                            <div style="width: auto; height: 1px; border-bottom: 1px dotted #b1bed5; margin-top: 20px; margin-bottom: 20px; margin-left: 30px; margin-right: 30px"></div>
                                            <div style="text-align: left; padding-left: 20px; padding-right: 20px">
                                                <div><span class="warning_comment">* 출력 이미지 형식 : 1280 X 826 jpg</span></div>
                                                <div><span class="warning_comment">* 이미지사이즈 : 2MB</span></div>
                                            </div>
                                            <img v-if="nowSample==0" src="../static/images/capture.png">
                                            <img v-else src="../static/images/uncapture.png" style="cursor:pointer;" onclick="if(vm.nowUploadStatus==1){vm.nowSample=0}">
                                        </div>
                                    </div>
                            </td>
                        </tr>
                   </tbody>
               </table>
                <div style="width: 1px; height: 40px;"></div>
                <img src="../static/images/after_proc.png" onclick="processFile()"  style="cursor:pointer;">
                <div style="width: 1px; height: 60px;"></div>
            </div>


            <div v-else style="text-align: center; display: inline-block; width: 100%">
                 <div style="vertical-align: center">
                                            <img src="../static/images/ico_image.png">
                                            <strong class="table_title">이미지 인식 및 분석 처리 결과</strong>
                                        </div>
                <div style="background-color: #f3f5fb; border: solid 1px #cfd5eb; margin-top: 10px; vertical-align: center; width: 900px; margin-left: 20px; margin-right: 20px; alignment: center; text-align: center; align-content: center; display: inline-block">

                    <div style="display: inline-block; align-self: center">
                     <img :src="forurl + '/img/' + nowImgName" style="width: 400px; display: inline-block; margin: 20px">
                     <img :src="forurl + '/maked/' + nowImgName" style="width: 400px; display: inline-block;  margin: 20px">
               </div>
            </div>
             <div style="margin: 20px; width: 900px; border-radius: 5px;  display: inline-block">
                    <table style="border: 1px solid #cfd5eb; font-size: 18px">
                        <tbody>
                                 <tr>
                                <td style="width: 150px; background-color: #f3f5fb; ">분류</td>
                                <td style="width: 750px; background-color: #f3f5fb; ">{{overallLabel}}</td>
                            </tr>
                             <tr>
                                <td style="background-color: #f3f5fb; ">Real</td>
                                <td>{{nowOriginal}}</td>
                            </tr>
                            <tr>
                                <td style="background-color: #f3f5fb; color: #fbdb00">Paper</td>
                                <td>{{nowPaper}}</td>
                            </tr>
                            <tr>
                                <td style="background-color: #f3f5fb; color: #fb2501">Monitor</td>
                                <td>{{nowMonitor}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                 <div style="width: 1px; height: 40px;"></div>
                <img src="../static/images/ico_return.png" onclick="resetPage()"  style="cursor:pointer;">
                <div style="width: 1px; height: 60px;"></div>
            </div>

        </div>

    </ul>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js'></script>
    <script src="http://<<IP>>:<<PORT>>/js/overall_vue.js"></script>
<!--    <script src="{{ url_for('static', filename='js/original_vue.js') }}"></script>-->



</body>
</html>










