@charset "utf-8";

.span_title{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 25px;
    color: #F7778A;
    font-weight: 500
}

.span_title_comment{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
    color: #7D7D7D;
    line-height: 24px;
    letter-spacing: -0.5px;
    font-weight: 400
}

.title_line{
    width: auto;
    height: 1px;
    border-bottom: 1px dotted #b1bed5;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px
}

.overall_div{
    border-radius: 3px;
    border: 1px gray;
    text-align: center;
    width: 100%
}

.table_top_title{
    display: inline-block;
    font-family: "Noto Sans KR", sans-serif;
    width: 400px;
    margin-left: 20px;
}

.table_title{
    color: #2C3F51;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
}

.table_title2{
    color: #2C3F51;
    font-weight: 200;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
}

.warning_comment{
    color: #2C3F51;
    font-size: 12px;
    letter-spacing: -0.17px;
    font-family: 'Noto Sans KR', sans-serif;
}